body {
  color: black;
  background-image: url(/Képek/hatter2.png);
  background-attachment: fixed;
  background-size: auto;
}
li {
  font-variant: normal;
  list-style: none;
}
list-style-image {
  border-radius: 50%;
  border: width 50%;
}
.banner{
  background-image: url(/Képek/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-fried-bacon.jpg);
}


