body {
  color: black;
 background-image: url(/Képek/86280.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: repeat;
}
li {
  font-variant: normal;
  list-style: none;
}
list-style-image {
  border-radius: 50%;
  border: width 50%;
}
.banner{
  background-image: url(/Képek/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-fried-bacon.jpg);
}

